---
title: Dear Tomas
---

<header>
    <div>Dear Tomas</div>
    <div class="social">
        <a href="" class="twitter"></a>
        <a href="" class="facebook"></a>
    </div>
</header>

<div class="content-wrapper">
    <div class="primary-wrapper">
        <div class="primary">
            <h1>New video 'Substitutes'</h1>

            <div class="meta">
                <p>9 November, 2015</p>
                <p>London, UK</p>
                <p>Music: Dear Tomas</p>
                <p>Video: <a href="https://www.facebook.com/NorthAgain/" target="_blank">North Again</a></p>
            </div>
            <div class="auto-resizable-iframe">
                <div>
                    <iframe src="https://www.youtube.com/embed/-VIIE9JDToQ" frameborder="0"
                            allowfullscreen id="movie_player"></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="secondary-wrapper">
        <div class="secondary">
            <p>
                I don’t see you<br>
                cause they made a choice<br>
                to stop trying and move away<br>
                I miss you<br>
                but I will never know what you’d change<br>
                if you where around to see how I<br>
                "You know.. never mind”
            </p>
            <p>
                By the sea<br>
                and the field where I<br>
                I kept looking for things to say<br>
                Beneath me<br>
                “Did you hear the noise that I just heard?"<br>
                "Can you stay around, to see if I<br>
                was right?"
            </p>

            <p>
                You know, I wish that I could ask you now<br>
                when it's over me<br>
                Always around at night<br>
                "And all the things I do,<br>
                and all the things I move,<br>
                all the things I do,<br>
                all the things I move will be alright?"
            </p>
        </div>
    </div>
</div>